<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="col-md-8 col-md-offset-2">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="../assets/img/faces/marc.jpg"/>
                    </a>
                </div>

                <div class="content float-left">
                    <h4 class="card-title">Ige Mayokun Obaloluwa</h4>
                    <h6><b>Class:</b> SS3</h6>
                    <h6><b>Date of Birth:</b> 24/03/1996</h6>
                    <h6><b>Gender:</b> Male</h6>
                    <p class="card-content">
                        <b>Address:</b> Number 28, Unity Estate, Oke-Ira Kekere off Addo Road, Ajah, Lagos
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>